.list {
  margin-bottom: 70px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  list-style: none;
}

.listItem {
  width: 430px;
  max-width: 100%;
}

.listItem a {
  color: var(--black-text-primary);
}

.image {
  width: 100%;
  aspect-ratio: 1 / 1.32;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: inset 0 0 100px -56px rgba(0,0,0, .4);
}

.title {
  margin-bottom: .5rem;
  font-size: 1.2rem;
}

.details {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--black-text-secondary);
  font-size: 1.2rem;
}

.details > div {
  flex: 1;
}

.details > div:first-child {
  border-right: 1px solid var(--black-text-secondary);
}

.star {
  margin: -6px 0 -4px 6px;
}
