.section {
  padding: 40px 0;
  color: var(--green-primary);
  text-align: center;
}

.header {
  margin-top: 0;
  font-size: 2rem;
  font-family: var(--font-secondary);
}

.description {
  margin-bottom: 40px;
}