.section {
  padding: 40px 0;
  color: var(--green-primary);
  background-color: white;
  text-align: center;
  @media screen and (min-width: 1200px) {
    padding: 60px 0;
  }
}

.header {
  margin-top: 0;
  font-size: 2rem;
  font-family: var(--font-secondary);
  font-weight: 500;
  @media screen and (min-width: 1200px) {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

.description {
  margin-bottom: 3rem;
  @media screen and (min-width: 1200px) {
    margin-bottom: 4.5rem;
    font-size: 1.2rem;
  }
}
