.button {
  padding: 10px;
  background-color: red;
  border-radius: 3px;
}

.accent {
  font-size: 1.1rem;
  padding: 18px 50px;
  color: var(--white);
  background-color: var(--green-primary);
  box-shadow: 6px 33px 59px 0px rgba(0, 0, 0, 0.3);
}