.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 51px;
  padding: 10px 0;
  background-color: var(--green-bg-primary);
  border-bottom: 1px solid var(--green-bg-secondary);
  z-index: 9;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logoLink {
  position: absolute;
  top: 14px;
  left: calc(50% - 35px);
}

.logoImg {
  width: 70px;
}

.cartLink {
  position: relative;
  margin-left: auto;
  margin-right: 14px;
}

.cartImg {
  width: 24px;
}

.cartStatus {
  --size: 9px;
  position: absolute;
  right: -2px;
  bottom: 4px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--green-accent);
  box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.15);
}

.loginImg {
  width: 27px;
}