.navigation {
  display: none;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--green-bg-primary);
}

.list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding-left: 0;
  text-align: center;
  list-style: none;
}