:root {
  --green-primary: #224F34;
  --green-secondary: #267D49;
  --green-accent: #10FF70;
  --green-bg-primary: #C2EFD4;
  --green-bg-secondary: #6BC785;
  --green-dots: #267144;
  --black-text-primary: #373737;
  --black-text-secondary: #454545;

  --breakpoint-xs: 576px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;
  --breakpoint-xlg: 1400px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
