:root {
  --green-primary: #224f34;
  --green-secondary: #267d49;
  --green-accent: #10ff70;
  --green-bg-primary: #c2efd4;
  --green-bg-secondary: #6bc785;
  --green-dots: #267144;
  --black-text-primary: #373737;
  --black-text-secondary: #454545;
  --white: #f2f2f2;

  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Roboto Slab', serif;
  --font-accent: 'Rufina', serif;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, ::after, ::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--green-primary);
}

#root {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none !important;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

@media screen and (min-width: 576px) {
  .hide-xs {
    display: none !important;
  }

  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .hide-sm {
    display: none !important;
  }

  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .hide-md {
    display: none !important;
  }

  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .hide-lg {
    display: none !important;
  }

  .container {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .hide-xl {
    display: none !important;
  }

  .container {
    max-width: 1360px;
  }
}
